<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- Table -->
     <table class="table table-striped">
        <thead>
            <td>아이디</td>
            <td>시도</td>
            <td>구군</td>
            <td>기관명</td>
            <td>담당자</td>
            <td>연락처</td>
            <td>주소</td>
        </thead>
        <tbody>
            <tr th:each="parking : ${parkings}">
                <td th:text="${parking.id}"></td>
                <td th:text="${parking.sido}"></td>
                <td th:text="${parking.gu}"></td>
                <td th:text="${parking.institution}"></td>
                <td th:text="${parking.manager}"></td>
                <td th:text="${parking.tel}"></td>
                <td th:text="${parking.address}"></td>
            </tr>
        </tbody>
     </table>

    <!-- Page -->
     <ul class="pagination">
        <li 
            th:class = "@{|page-item ${page == pageNumber ? 'active' : ''}}"
            th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link"
                th:href = "@{|holiday-parking?page=${pageNumber}|}"
                th:text = "${pageNumber}"></a>
        </li>
     </ul>
</body>

</html>